# .gitignore

# Backend (Go)
backend/bin/
backend/vendor/
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/*.test
backend/*.out
backend/.vscode/
*.env
*.log

# Frontend (React)
/frontend/node_modules/
/frontend/build/
/frontend/.cache
/frontend/.env*
/frontend/.eslintcache
/frontend/.vscode/

# Common
*.DS_Store
*.log
*.pid
*.pyc
*.swp
*~
.ipynb_checkpoints
.vscode
.idea
